@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

:root{
    --container-color: rgba(0, 0, 0, 0.25);
    --border: rgba(200, 200, 200, 0.5) solid 1px;
}

body{
    background: url(./assets/cricket_background_2.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
}

.score-container{
    height: 20vh;
    position: relative;
}
.score-container h2{
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    translate: 0 -50%;
    font-size: clamp(2em, 3vw, 3em);
    color: white;
    pointer-events: none;
}

.backbtn{
    height: clamp(2em, 6vw, 3em);
    aspect-ratio: 1;
    position: absolute;
    background-color: transparent;
    border: var(--border);
    top: 50%;
    translate: -50% -50%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

.backbtn p{
    rotate: -90deg;
    color: white;
    text-align: center;
    font-weight: 1000;
    scale: 1.5 1;
}
.backbtn::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 200ms ease-out;
}

.backbtn:hover::before{
    transform: scaleY(1);
    background-color: white;
}

.backbtn:hover p{
    color: black;
}

.searchbar{
    position: relative;
    border: var(--border);
    width: 60%;
    top: 50%;
    translate: 0 -50%;
    height: clamp(2em, 6vw, 3em);
    margin: auto;
    display: flex;
    backdrop-filter: blur(5px);
}

.search-text-container{
    position: relative;
    flex: 8;
    display: flex;
}

#search-password{
    border: var(--border);
    background-color: var(--container-color);
    position: relative;
    width: 100%;
    padding: 10px 20px;
    font-size: clamp(1em, 2vw, 1.2em);
    color: white;
    transition: border 100ms ease-in;
}
#search-password:focus{
    outline: none;
    border: 1px solid white;
}

.search-icon-container{
    border: var(--border);
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.search-icon-container img{
    margin: 10px;
    filter: invert(1);
    width: 2.5vw;
}

.search-icon-container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%; 
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 200ms ease-out;
}

.search-icon-container:hover::before{
    transform: scaleY(1);
    background-color: white;
}

.search-icon-container:hover img{
    filter: invert(0);
}

.vault-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80vh;
    /* border: var(--border); */
}

.vaultbox{
    border: var(--border);
    height: clamp(30%, 70vh, 75%);
    width: 60%;
    /* box-sizing: border-box; */
    /* padding: 3%; */
    display: flex;
    background-color: var(--container-color);
    backdrop-filter: blur(20px);
    align-items: center;
}

.entrybox{
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* border: var(--border); */
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 5vw);
    /* margin-top: auto; */
    width: 100%;
}

.entrybox::-webkit-scrollbar{
    width: 0.5rem;
}

.entrybox::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 0.25rem;
}

.entry{
    border: var(--border);
    position: relative;
    /* height: clamp(1em,6vw,3em); */
    margin: 0 2.5vw 1em;
    padding: 0.5em 1em;
    padding-right: 0;
    height: fit-content;
    background-color: var(--container-color);
    color: white;
    font-size: clamp(1em, 2vw, 1.2em);
    /* opacity: 0; */
    /* transition: opacity 200ms ease-in; */
    opacity: 0;
    transition: scale 200ms ease-in, border 100ms ease-in;
}
.entry p{
    margin: 0;
    flex: 1;
    pointer-events: none;
}

.entry:hover{
    scale: 1.01;
    border: 1px solid white;
}

.show{
    transition: opacity 200ms ease-in 100ms;
    opacity: 1;
}

#search-error{
    color: white;
    position: absolute;
    inset: 50% 0;
    translate: 0 -100%;
    text-align: center;
    height: fit-content;
    opacity: 0;
    transition: opacity 200ms ease-in;
}

#copy-alert{
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% -50%;
    margin-bottom: 4.75vh;
    font-size: 1.5em;
    background-color: rgba(200, 200, 200, 0.1);
    padding: 10px 50px;
    border: var(--border);
    opacity: 0.75;
    transition: scale 200ms ease-in;
    scale: 1 0;
    transform-origin: bottom;
    backdrop-filter: blur(5px);
}

.high-score-container h2{
    color: white;
    text-align: center;
    margin: 4vh 0 0 0;
}
#high-score{
    margin-top: 10px;
    font-size: clamp(3em, 3vw, 4em);
}