html{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
*{
    font-family: "Space Mono", monospace;
}

.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(black, rgb(0, 0, 32));
}

/*! toss */
.toss-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    transition: scale 200ms ease-in;
}

#coin{
    position: absolute;
    inset: 60vh 50vw;
    translate: -50% -50%;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: gold;
    transition: transform 0.125s ease-in-out;
    border: goldenrod solid 5px;
}
#face{
    font-family: "Space Mono", monospace;
    font-size: 4em;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: auto;
}

.choice{
    color: black;
    font-size: 1.5em;
    background-color: whitesmoke;
    position: absolute;
    top: 60vh;
    text-align: center;
    padding: 20px;
    translate: 0 -50%;
    border-radius: 10px;
    transition: scale 200ms ease-in;
    cursor: pointer;
}
.choice:nth-child(odd){
    left: 25vw;
}
.choice:nth-child(even){
    right: 25vw;
}
.choice:nth-child(5), .choice:nth-child(6){
    scale: 0;
}
.choice:hover{
    scale: 1.1;
}

#ready{
    scale: 0;
    position: absolute;
    bottom: 20vh;
    width: 100%;
    text-align: center;
}
#ready p{
    font-size: 1.5em;
    color: white;
    background-color: green;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    transition: scale 200ms ease-in;
    cursor: pointer;
}
#ready p:hover{
    scale: 1.1;
}

#result{
    padding-top: 100px;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3em;
    opacity: 0;
    cursor: default;
    transition: opacity 200ms ease-in;
}
/*! toss ends here */

#game-container{
    display: none;
}
.container img{
    height: clamp(5em, 25vw, 30em);
    position: absolute;
    top: 55vh;
    translate: 0 -50%;
    filter: invert(1);
}
#left{
    left: 20vw;
}
#right{
    right: 20vw;
    transform: scaleX(-1);
}
.shake_left{
    animation: shake_left 0.5s infinite ease-in;
}
.shake_right{
    animation: shake_right 0.5s infinite ease-in;
}

@keyframes shake_left{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 45deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes shake_right{
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: -45deg;
    }
    100%{
        rotate: 0deg;
    }
}

#transition{
    z-index: 1;
    position: absolute;
    top: 55vh;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.75);
    backdrop-filter: blur(10px);
    height: clamp(5em, 25vw, 25em);
    translate: 0 -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scale: 1 0;
    transition: scale 0.5s ease-in;
}
#transition h2{
    color: white;
    margin: 10px;
    font-size: clamp(2em, 5vw, 4em);
}

#time{
    background-color: #01afff;
    width: 100%;
    height: clamp(5px, 2vh, 10px);
    position: absolute;
    bottom: 0px;
    transform-origin: left;
}
.shrink{
    transition: scale 1.5s linear;
    scale: 0 1;
}

.instructions{
    font-size: clamp(0.7em, 2vw, 1em);
    position: absolute;
    bottom: 1vh;
    margin-left: 20px;
    color: #00b300;
}

#top-bar{
    background-color: rgb(20, 20, 20);
    height: clamp(10em, 25vw, 12em);
    min-height: fit-content;
    display: flex;
    align-items: center;
    color: white;
}
#top-bar h2{
    margin: 0px;
    padding: 0px;
}

#score{
    flex: 1.5;
}
#score h2{
    text-align: center;
    font-size: clamp(2em, 5vw, 3em);
    position: relative;
}

#top-left{
    margin-left: 20px;
    flex: 1;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#top-left h2{
    margin: 0px 0px 0px default;
}
#over{
    margin-bottom: 10px;
}
#over-score{
    min-height: 1.5em;
}

#top-right{
    margin-right: 20px;
    flex: 1;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#target{
    min-height: 2em;
    margin-bottom: 20px;
}